
header {
    height: 11.73333vw;
    background-color: #191919;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo a {
    display: inline-block;
    width: 19.46667vw;
    height: 6.4vw;
    background: url('../img/iqiyi-logo.png') no-repeat;
    background-size: 19.46667vw 6.4vw;
    margin-left: 3.46667vw;
}

header .right {
    display: flex;
    align-items: center;
}


header .right a:first-child {
    color: #b0b0b0;
    font-size: 3.46667vw;
    margin-right: 3.46667vw;
}

header .right a:last-child {
    display:inline-block;
    background: url('../img/watch_more2.png') no-repeat;
    width: 15.73333vw;
    height: 5.33333vw;
    background-size: 15.73333vw 5.33333vw;
    vertical-align: bottom;
    margin-right: 3.2vw;
}


main {
    padding-top: 11.73333vw;
}

main h2 {
    color: #999;
    font-size: 3.2vw;
    background-color: #f7f7f7;
    padding-left: 4vw;
    line-height: 6.66667vw;
}

main > .category_link > div{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #f0f0f0;
}

main > .category_link > div:last-child {
    border-bottom: none;
}


main > .category_link > div > div{
    flex-shrink: 0;
    width: 33.333333%;
    height: 23.46667vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.category_link > div > div > p{
    color: #666;
    font-size: 3.73333vw;
}
.category_link > div > div i{
    display: inline-block;
    width: 13.33333vw;
    height: 13.33333vw;
    background: url('../img/category_srpite.png');
    background-size: 80vw 93.33333vw;
}

.category_link .dianshiju {
    background-position: 0 0;
}

.category_link .dianying {
    background-position: -13.33333vw 0;
}

.category_link .jilupian {
    background-position: -40vw 0;
}

.category_link .yingxun {
    background-position: -66.66667vw 0;
}

.category_link .pianhua {
    background-position: -26.66667vw 0;
}

.category_link .wangluo {
    background-position: -53.33333vw 0;
}

.category_link .zongyi {
    background-position: 0 -13.33333vw;
}

.category_link .dongman {
    background-position: -13.33333vw -13.33333vw;
}

.category_link .tuokou {
    background-position: -26.66667vw -13.33333vw;
}

.category_link .yule {
    background-position: -40vw -13.33333vw;
}

.category_link .gaoxiao {
    background-position: -53.33333vw -13.33333vw;
}

.category_link .yinyue {
    background-position: -66.66667vw -13.33333vw;
}

.category_link .qixiu {
    background-position: -53.33333vw -66.66667vw;
}

.category_link .zhibo {
    background-position: -66.66667vw -26.66667vw;
}

.category_link .quanwang {
    background-position: -66.66667vw 0;
}

.category_link .youxi {
    background-position: 0 -26.66667vw;
}

.category_link .redian {
    background-position: -13.33333vw -26.66667vw;
}

.category_link .fengyun {
    background-position: -26.66667vw -26.66667vw;
}

.category_link .zixun {
    background-position: -40vw -26.66667vw;
}

.category_link .yuanchuang {
    background-position: -53.33333vw -26.66667vw;
}

.category_link .aiqiyi {
    background-position: 0 -66.66667vw;
}

.category_link .ertong {
    background-position: 0px -40vw;
}

.category_link .muying {
    background-position: -13.33333vw -40vw;
}

.category_link .zhishi {
    background-position: -26.66667vw -40vw;
}

.category_link .jiankang {
    background-position: -40vw -40vw;
}

.category_link .shenghuo {
    background-position: -53.33333vw -40vw;
}

.category_link .tiyu {
    background-position: -66.66667vw -40vw;
}

.category_link .keji {
    background-position: 0 -53.33333vw;
}

.category_link .junshi {
    background-position: -13.33333vw -53.33333vw;
}

.category_link .qiche {
    background-position: -26.66667vw -53.33333vw;
}

.category_link .caijing {
    background-position: -40vw -53.33333vw;
}

.category_link .lvyou {
    background-position: -53.33333vw -53.33333vw;
}

.category_link .shishang {
    background-position: -66.66667vw -53.33333vw;
}

.category_link .yanchu {
    background-position: 0 -80vw;
}

.category_link .guanggao {
    background-position: -26.66667vw -66.66667vw;
}

.category_link .gongyi {
    background-position: -40vw -66.66667vw;
}




footer {
    padding-top: 4vw;
    padding-bottom: 4vw;
    text-align: center;
}

footer img {
    display: inline-block;
    vertical-align: bottom;
    width: 26.66667vw;
}