.banner {
    width: 100vw;
}

.banner .banner_img {
    width: 100%;
    height: 50vw;
}

.banner .banner_img:before {
    content:'';
    display: block;
    padding-top: 50vw;
}

.banner .banner_img img{
    display: block;
    width: 100%;    
    margin-top: -50vw;
}


.banner .film_title{
    padding: 2.13333vw 0 2.13333vw 3.2vw;
}
.banner .film_title p{
    color: #999;
    font-size: 3.2vw;
}
.banner .film_title h2{
    color: #333;
    font-size: 3.73333vw;
}



.introduce{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.introduce > div{
    width: 32.8vw;
    flex-shrink: 0;
}


.introduce > div .film_img {
    width: 100%;
    height: 43.73333vw;
}

.introduce > div .film_img:before {
    content: '';
    display: block;
    padding-top: 43.73333vw;
    background:#f8f8f8  url('../img/img_logo.png') center center no-repeat;
    background-size: 10.66667vw auto;
}

.introduce > div .film_img img{
    display: block;
    width: 100%;
    margin-top: -43.73333vw;
}
.introduce > div .film_title{
    padding: 2.13333vw 0 2.13333vw 3.2vw;
}
.introduce > div .film_title h2{
    color: #333;
    font-size: 3.73333vw;
    overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
}
.introduce > div .film_title p{
    color: #999;
    font-size: 3.2vw;
    overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
}