

.carousel {
    position: relative;
    
}
.carouselImg {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
}

.carouselImg > li{
    width: 100vw;
    height: 50vw;
    flex-shrink: 0;
    overflow: hidden;
}
.carouselImg > li:before{
    content: '';
    display: block;
    padding-top: 50vw;
    background-color: #ccc;
}
.carouselImg > li > img{
    display: block;
    width: 100%;
    margin-top: -50vw;
}

.carouselTool {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-bottom: 3.2vw;
    padding-right: 2.66667vw;
    display: flex;
}

.carouselTool > li {
    width: 1.86667vw;
    height: 0.8vw;
    margin-left: 0.8vw;
    background-color: rgba(255,255,255,0.2);
}

.carouselTool .selected {
    background-color: #00cc36;
}

.content_box {
    padding: 2.66667vw;
}

.open_app {
    padding-bottom: 2.66667vw;
}

.open_app img{
    width: 94.66667vw;
    height: 13.33333vw;
    vertical-align: bottom;
}

.introduce {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.introduce > div {
    width: 46.66667vw;
}

.introduce > div .title_img > img {
    display: block;
    margin-top: -26.93333vw;
    width: 100%;
}

.introduce > div .title_img {
    width: 46.66667vw;
    height: 26.4vw;
}

.introduce > div .title_img:before {
    content: '';
    display: block;
    padding-top: 26.93333vw;
    background:#f8f8f8  url('../img/img_logo.png') center center no-repeat;
    background-size: 10.66667vw auto;
}

.introduce > div > .introduceInfo {
    padding: 1.33333vw 2.13333vw 4.8vw 0.53333vw;
}

.introduce > div > .introduceInfo > h2 {
    color: #333;
    font-size: 4vw;
    line-height: 5.33333vw;
}

.introduce > div > .introduceInfo > p {
    color: #999;
    font-size: 3.46667vw;
    line-height: 4vw;
}


.history_title {
    display: flex;
    justify-content: space-between;
    padding: 1.86667vw 0.53333vw;
    line-height: 10.13333vw;
}

.history_title .title{
    font-size: 4vw;
    color: #333;
    font-weight: 700;
}

.history_title .all {
    color: #666;
    font-size: 3.46667vw;
}


.history_watch_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.history_watch_content > div {
    width: 46.66667vw;
}

.history_watch_content > div .title_img > img {
    display: block;
    margin-top: -26.93333vw;
    width: 46.66667vw;
}

.history_watch_content > div .title_img {
    width: 46.66667vw;
    height: 26.4vw;
}

.history_watch_content > div .title_img:before {
    content: '';
    display: block;
    padding-top: 26.93333vw;
    background:#f8f8f8  url('../img/img_logo.png') center center no-repeat;
    background-size: 10.66667vw auto;
}

.history_watch_content > div > .introduceInfo {
    padding: 1.33333vw 2.13333vw 4.8vw 0.53333vw;
}

.history_watch_content > div > .introduceInfo > h2 {
    color: #333;
    font-size: 4vw;
    line-height: 5.33333vw;
}

.history_watch_content > div > .introduceInfo > p {
    color: #999;
    font-size: 3.46667vw;
    line-height: 4vw;
}