.hot_img {
    width: 100vw;
    height: 55.46667vw;
}

.hot_img:before {
    content: '';
    display: block;
    padding-top: 55.46667vw;
}

.hot_img img{
    display: block;
    width: 100%;
    margin-top: -55.46667vw;
}

.personInfo{
    padding: 2.66667vw 0 2.66667vw 3.2vw;
    display: flex;
    align-items: center;

}
.personInfo img{
    display: inline-block;
    vertical-align: bottom;
    width: 8vw;
    border-radius: 50%;
    margin-right: 1.6vw;
}
.personInfo .name{
    font-size: 3.2vw;
    color: #666;
    margin-right: 1.6vw;
}
.personInfo .attention{
    color: #20bc22;
    font-size: 3.2vw;
}

.tool{}
.tool > a{}
.tool > a > i{}