/* reset css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol,dl {
    list-style-type: none;
}

a {
    color: #827c79;
    text-decoration: none;
}

.clearFix::after {
    content: '';
    display: block;
    clear: both;
}


/* nav */

.wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    background: url("./images/navbg.png");

}



.navContainer {
    width: 1200px;
    display: flex;
    justify-content: space-between;

}

.logo {
    margin-right: 25px;
    margin-top: 23px;
    width: 280px;
    height: 40px;
    background: url("./images/logo.png") center top no-repeat;
}

.nav {
    display: flex;
    color: #827c79;
    text-align: center;
}

.nav>li {
    position: relative;
    padding: 23px 7px;
    width: 78px;
}



.nav>li:hover {
    
    background: url("./images/navHoverbg.png") center top no-repeat;
    color:#00c0ff;
}

.nav>li>a {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.nav>li>a>span:last-child {
    display: flex;
    justify-content: center;;
    font-size: 12px;
    transform: scale(0.75);
}

.nav>li>a:hover {

    
}

.nav>li>div {
    position:absolute;
    top: 70px;
    left: 0;
    padding-top: 10px;
    z-index: 1;
    height: 278px;
    line-height: 30px;
    width: 100%;
    background: url("./images/navHoverBottomBg.png") no-repeat;
    display: none;
}

.nav>li>div a {
    display: block;
}

.nav>li:hover div {
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    display: block;
}



.myInfomation {
    display: flex;
}

.my {
    margin-top: 13px;
    
    display: block;
    width: 50px;
    height: 50px;
    background-color: #101215;
    border: 1px solid #262323;
    border-radius: 50%;;
    background: url("./images/icons.png") 12px -453px no-repeat;
}

.login {
    margin-top: 9px;
    margin-left: 13px;
}

.login>p:first-child{
    color: #fff;
    font-size: 18px;
    line-height: 1.8em;
}

.login>p:last-child {
    color: #898989;
    font-size:12px;
}

.login .loginIn {
    color: #00b7f4;
}



/* Carousel */

.carousel {
    width: 100%;
    overflow: hidden;
    margin-top: -4px;
    position: relative;
}

.carousel .carouselImage {
    display: flex;
    transition: transform 0.5s;
}

.carousel .carouselTool {
    width: 100%;
    position: absolute;
    left: 50%;
    margin-left: -50%;
    bottom: 45px;
    display: flex;
    justify-content: center;
} 

.carousel .carouselTool li button {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: transparent;
    background: url("./images/iconsSmall.png") no-repeat;
    background-position: -2px -841px;
    border: none;
    margin-right: 10px;
}



.carousel .carouselTool li button.active {
    background-position: -3px -869px;
    border: none;
}

.arrowHead {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -600px;
}

.arrowHead>div {
    height: 90px;
    width: 47px;
    position: absolute;
    top: 245px;
    cursor: pointer;
}

.leftArrow {
    background: url("./images/iconsSmall.png") -185px -857px no-repeat;
    left: 0;
}

.rightArrow {
    background: url("./images/iconsSmall.png") -95px -856px no-repeat;
    right: 0;   
}


.arrowHead>div:hover {
    border-width: 1px 0 1px 1px;
    border-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s ease;
}

.leftArrow:hover {
    background-position: -197px -981px;
}

.rightArrow:hover {
    background-position: -95px -980px;
}


/* aboutGame */

.aboutGame {
    width: 100%;
    background: url("./images/contentbg.png");
    margin-top: -4px;
}

.aboutGame .aboutContainer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.doGame {
    display: flex;

}

.doGame > div {
    width: 246px;
    height: 93px;
    background: url("./images/aboutGame.png") no-repeat;
    
}

.doGame > div > span {
    opacity: 1;
    width: 100%;
    height: 100%;
    display: block;
    background: url("./images/aboutGame.png") no-repeat;
    z-index: 1;
    transition: opacity 0.5s ease;
}

.doGame > div .costInner:hover {
    opacity: 0;
}

.doGame .costInner {
    background-position: 0 0;
    
    
}

.doGame .cost {
    background-position: 0 -94px;
}

.doGame > div .downloadInner:hover {
    opacity: 0;
    
}

.doGame .downloadInner {
    
    background-position: -252px 0;
}

.doGame .download{
    background-position: -252px -94px;
}

.doGame > div .registerInner:hover {
    opacity: 0;
    
}

.doGame .registerInner {
    background-position: -508px 0;
}

.doGame .register {
    background-position: -508px -94px;
    
}

.aboutGameInfo {
    display: flex;
}

.aboutGameInfo > div {
    width: 140px;
    height: 95px;
    background: url("./images/rightAboutGame.png") no-repeat;
}

.aboutGameInfo > div > span {
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1;
    display: block;
    transition: opacity 0.5s ease;
    background: url("./images/rightAboutGame.png") no-repeat;
}

.aboutGameInfo .gameInfo {
    background-position: 0 -96px;
    
}

.aboutGameInfo .gameIntro { 
    background-position: -140px -96px;
}

.aboutGameInfo .gamePlay {
    background-position: -280px -96px;
    
}

.aboutGameInfo > div .gameInfoInner {
    background-position: 0 0;
}

.aboutGameInfo > div .gameIntroInner { 
    background-position: -140px 0;
    
}

.aboutGameInfo > div .gamePlayInner { 
    background-position: -280px 0;
    
}

.aboutGameInfo > div .gameInfoInner:hover {
    opacity: 0;
}

.aboutGameInfo > div .gameIntroInner:hover { 
    opacity: 0;
}

.aboutGameInfo > div .gamePlayInner:hover { 
    opacity: 0;
}



/* news */

.contentWrap {
    width: 100%;
    background: url("./images/contentbg.png");
    padding-top: 50px;
    padding-bottom: 50px;
}

.news {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.news >.leftArea .newsTitle {

}

.news .leftArea {
    width: 750px;
}

.news >.leftArea .newsTitle .newsIcon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: block;
    background: url("./images/iconsSmall.png") no-repeat;
    background-position: -3px -1px;
    float: left;
}

.news >.leftArea .newsTitle h2 {
    line-height: 35px;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    float: left;
}

.news .newsMore {
    float: right;
    font-size: 12px;
    color: #ccc;
}

.news .newsSeletct {
    display: flex;
    margin-top: 10px;
}

.news .newsSeletct>li {
    padding: 10px 60px;
    width: 25%;
    border: 1px solid #333;
    border-left-color: transparent;
    color: #999;
    font-size: 14px;
    transition: border-color 0.5s ease;
    cursor: pointer;
}

.news .newsSeletct>li:first-child {
    border: 1px solid #333;
}

.news .newsSeletct>li:hover {
    border-color: #999;
}

.news .newsSeletct>li.active {
    border-color: #999;
}

.trangle {
    height: 10px;
    width: 10px;
    display: inline-block;
    margin-left: 4px;
    background: url("./images/iconsSmall.png") -3px -789px no-repeat;
}


.newsIntro>ul>li{
    display: none;
}

.newsIntro>ul>li.active{
    display: block;
}

.newsIntro>ul>li>.newsIntroInfo{
    border: 1px solid #333;
    padding: 15px 40px 15px 20px;
    margin: 25px 5px 15px 5px;
}


.newsIntro>ul>li>.newsIntroInfo>h2{
    display: block;
    color: #00c0ff;
    font-size: 24px;
}

.newsIntro>ul>li>.newsIntroInfo p{
    color: #999;
    font-size: 14px;
    line-height: 22px;

}

.newsTitleImgWrap {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
}




.newsTitleImg {
    width: 200px;
    height: 120px;
    display: inline-block;
    flex-shrink: 0;
    margin-right: 20px;
    
}

.time {
    font-size:12px;
    margin-top: 5px;
}

.newsIntroInfo:hover {
    border: 1px solid #00c0ff;
    box-shadow: 0 0 8px #00c0ff;
    transition: all 0.5s ease;
}

.newsIntro ul>li>ul li{
    color: #ccc;
    line-height: 45px;
    padding: 0 40px 0 20px;
} 

.newsIntro ul>li>ul li:hover{
    color: #00c0ff;;
} 

.newsIntro ul>li>ul li .listIcon{
    width: 10px;
    height: 10px;
    margin-right: 10px;
    display: inline-block;
    background: url("./images/iconsSmall.png") -3px -803px no-repeat;
}

.newsIntro ul>li>ul li span{
    color: #999;
    float: right;
    font-size:12px;
}

.newsIntro ul>li>ul li:nth-child(2n+1){
    background-color: #151619;
}

.rightArea {
    display: flex;
    flex-direction: column;
}

.hotPointIcon,.competitionCenterIcon {
    width: 35px;
    height: 35px;
    display:inline-block;
    margin-right: 10px;
    background:url("./images/iconsSmall.png") no-repeat;
}

.hotPointIcon {
    background-position: -40px -1px;
}

.competitionCenter {
    margin-top: 30px;
}

.competitionCenterIcon {
    background-position: -3px -43px;
}
.rightArea h2{
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    line-height: 35px;
}


.falseVideo {
    width: 420px;
    height: 202px;
    background: url("./images/newsTitle.png") top center no-repeat;
    margin-top:10px;
}

.hotPointWrap,.competitionCenterWrap {
    display: flex;
}

/* footer */

footer {
    background-color: #000;
    width: 100%;
    min-height: 150px;
}